
body{
	background-color: black;
	color: white;
	padding: 0;
	margin: 0;
	font-size: 20px;
	overflow-x: hidden;
	
}
/*header-section*/

header{
	background:black;
    display: flex;   
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;   
    height: 80px;
    z-index: 9999;
    position: fixed;
    top: 0px;
    padding: 10px 10px;
    align-items: center;
 
	
}
.left-bar{
	display: flex;
	align-items: center;
	margin-left: 5px;
}
.logo{
	padding: 0px 0px;
	margin: 0;
	margin-top: 5px;
}

.logo img{
	width: 70px;
	height: 70px;
	border-radius: 60%;	
	
	
}

.music-player-name{
	margin-left: 10px;
}

.music-player-name p{
	display: inline-block;
	color: white;
	font-family:  'Cedarville Cursive', cursive;
	font-size: 1.5rem;
}
.fav{
	margin-left: 60px;
}
.fav a{
	color: white;
	font-size: 1.4rem;
	text-decoration: none;
	 font-family:  "Allerta Stencil", Sans-serif;
}
.fav a i{
    color: red;
}

.right-bar{
	display: flex;
	align-items: center;
	margin-right: 25px;
}


/* Style the search field */
.search-bar{
	padding: 10px;
}

.search-bar-form input[type=text] {
  padding: 10px;
  font-size: 17px;
  color: white;
  border: 1px solid grey;
  border-right: none;
  background: transparent;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  display: inline-block;
  
}
.search-bar-form input[type=text]:focus{
	outline: none;
}
/* Style the submit button */
.search-bar-form button {
  padding: 10px;
  background: transparent;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: -10px;
  display: inline-block;
}

.search-bar-form button:hover {
  background: lightgrey;
}
.search-bar-form a i{
	font-size: 1.2rem;
	color: white;
	position: relative;
	left: -60px;
	top: 2px;

	
}
.search-bar-form a i:hover{
	color: blue;
}

.notification i{
   font-size: 30px;
   color: white;
   margin-left: 40px;
}
@media screen and (max-width: 360px){
  .notification i{
    margin-left: 10px;
  }
  .login-button{
    margin-left: 20px !important;
  }
  .side-bars i{
    padding-left: 10px;
  }
}

  .notification .fa-bell:hover{
  	animation: shake 0.5s;
  	animation-iteration-count: infinite;
  }
  @keyframes shake{
  	10%{transform: translate(-1px) rotate(-1deg);}
    30%{transform: translate(3px) rotate(0deg);}
    50%{transform: translate(-1px) rotate(1deg);}
    70%{transform: translate(3px) rotate(1deg);}
    390%{transform: translate(-1px) rotate(0deg);}

  }

  
  
.notification-dot{
	color: red;
	font-size: 0.7rem;
	margin-left: -15px;
	margin-top: -15px;
	z-index: 9999;
}
.login-button{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	outline: none;
	border:none;
	margin-left: 40px;
}
.login-form{
    position: absolute;
    margin:0px;
    padding: 1rem;
    background-color: #0c6aa8;
    transform-origin: top;
    width: 200px;
    height: 150px;
    margin-top:0.5%;
    left: 83%;
    transition: 0.5s;
    transform: perspective(5000px) rotateX(-90deg);
    border-radius: 20px; 
    
}
.login-form.mayank{
    transform: perspective(1000px) rotateX(0deg);
}
.login-form>div{
	padding: 10px;
	margin-left: 0;
}
#username{
	height: 20px;
	width: 170px;
}
#password{
	height: 20px;
	width: 170px;
}
.side-bars i{
  color: white;
  padding-left:20px;
  font-size: 1.5rem;
  display: none;
  z-index: 9999;
}
#slide-menu{
  height:0;
  width:0;
  position:fixed;
  right: 0;
  overflow:hidden;
  animation: slideInUp 2s ease-in-out ;
}



/*main-section*/
main{
	margin-top: 3%;
	margin-left: 50px;
	width: 70%;
	display: inline-block;
}
section{
	 display: flex;
    flex-direction: column;
    /*padding: -10px;*/
    justify-content: space-between;
    flex-wrap: nowrap;
    
}

/*template*/

.mp-template{
	color: white;	
}
.mp-template h1{
	font-size: 5.5rem;
}
.gradient-text {
	font-size: 10.5rem;
	font-family: serif;
  background-color: red;
  background-image: linear-gradient(45deg, red, yellow);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}




/* ====Carousel Section CSS Starts==== */

#carsl {
    margin-top: -30px;
    width: 100%;
    height: auto;
    

}

.carousel {
    position: relative;
    margin-top: -20px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 95%;

    
}

.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: 2px;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked~.control-1, #carousel-2:checked~.control-2, #carousel-3:checked~.control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    font-size: 28px;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 25px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet, #carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet, #carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}


/*latest release*/

.section-heading{
	width: 68%;
	padding: 0px 5px;
}

.section-heading h2{
	color:white;	
	margin-top: 50px;
	font-size: 1.7rem;
	font-family: sans-serif;
}

 
 
     .latest-songs{
    	display: flex;
    	flex-wrap: wrap;
    	flex-direction: row;
    	justify-content: space-between;
    	width: 75%;      
    } 
    .latest-icon{
    	width: 200px;
    	height: 200px;
    	
    }

     .latest-icon img{
      width: 200px;
      height: 200px;
    } 
 
     .latest_one{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 10px;
      width: 250px;
    }
    .latest_two{
      margin-left: 210px;
    }  
    .latest-icon i{
    	font-size: 1.9rem;
    	position: absolute;
    	margin-left: -110px;
    	margin-top: 80px;    	
    	opacity: 0;
    	visibility: hidden;
        z-index: 200;
        color:white;  
    }

    .latest-icon:hover i{
    	visibility: visible;
    	opacity: 1;
    }
    
   

    .latest-info-one{
        color: white;
        font-size: 1rem;
        padding: 6px;
        position: absolute;
        margin-left: 200px;
        margin-top: -20px;
    }

    .latest-name{
      font-family: sans-serif;
      font-weight: bold;margin-left: 8px;
    }
    .release-date{
    	margin-left: 8px;
    }

    .ellipsis i{
      color:white;
      font-size: 20px;
       margin-left: 250px; 
    }

    .latest-time{
      color:white;
      font-weight: bold;
       margin-left: -22px;
       margin-top: 20px;
    }  

    .latest-ul{
      list-style: none;
      padding: 0.1px;
      margin:4px;
  }

  .latest-ul li{
      margin-left: 25px;
      padding: 0.1rem;
      font-size: 15px;
      color:white;
      letter-spacing: 0.1rem;
      font-family: sans-serif;
  }

  .latest-ul li i{
    margin-left: -20px;
    margin-top: 4px;
    font-size: 15px;
  }

   .latest-list{
      background-color:   rgb(68, 67, 67);
      display: none;
      height:160px;
      margin-top:-163px;
      margin-left:7%;
      z-index:5;
      position: absolute;
      border-radius: 10%;
      border: 2px solid white;
  } 
  
  .latest-dots:hover .latest-list{
      display: block;
      position: absolute;
  }
  
  .latest-ul li a{
      color: white;
      text-decoration: none;
  }

  .latest-ul a:hover{
      color:  rgb(194, 25, 13);
  }
 
/*popular artist*/

.artist{
	width:95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.artist-image img{
	width: 180px;
	height: 180px;
	border-radius: 60%;
	border: 4px solid white;
}

.artist-name p{
	font-size: 1.2rem;
	margin-left: 20%;
	font-family: sans-serif;
}
.artist-image i{
	position: absolute;
    margin-top: 75px;
	margin-left:-115px ;
	font-size: 3rem;
	visibility:hidden;
	z-index: 200;
	color: white;

}

.artist-image:hover i{    
     visibility: visible;
} 

.artist-image img:hover{
	box-shadow: 0px 0px 6px 4px lightgrey;
}
@media screen and (max-width: 420px){
	.artist{
		width: 100%;
	}
}
@media screen and (max-width: 400px){
	.artist-image img{
		width: 150px;
		height: 150px;
	}
	.artist-image i{
		margin-left: -100px;
        margin-top: 60px;
	}
}
@media screen and (max-width: 350px){
	.artist-image img{
		width: 120px;
		height: 120px;
	}
	.artist-image i{
		margin-left: -85px;
        margin-top: 40px;
	}
}



/* play station */

div#gallery {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}



#gallery img {
  height: 140px;
  margin: 0px;
  width:172px;
}




#gallery figure {
  float: left;
  position: relative;
  background-color: rgb(226, 226, 226);
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 2px 3px black;
}
#gallery figcaption{
  text-align: center;
  font-size: 25px;
  color: #000;
  font-family:  'Cedarville Cursive', cursive;
}

#gallery figure i{

	color: black;
}

#gallery figure i:hover{
  color:  #259e4f;;
  transform: scale(1.5,1.5); 
  transition: all 0.5s ease-out ; 
  cursor: pointer;
}



/* Music-Themes */
*{
	box-sizing: border-box;
}
#music-time{
	width: 100%;
	margin-top: -20px;
}


.row {
	
  width: 95%;
  display: flex;
  justify-content: space-between;
  -ms-flex-wrap: nowrap; 
  flex-wrap: nowrap;
  padding: 0 4px;
  
  
}


.column {
  -ms-flex: 25%; 
  flex: 25%;
  max-width: 28%;
  padding: 0 4px;
 
}
.column-img{
  overflow: hidden;
	background-position: contain;
	background-repeat: no-repeat;
}

.column .horiz{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height:200px;
}

.column .vertical{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height:300px;
}
@media screen and (max-width: 800px) {
  .row{
  	width: 96%;
  }
  .column {
    -ms-flex: 32%;
    flex: 32%;
    max-width:32%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}



.column-img p{
  font-size: 1.1rem;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  z-index: 2;
  margin-top: 5px;
font-style: italic;

}  
 .column-img i{
   font-size: 1.8rem;
 }

/* music-themes-animation */


.column-img:hover .theme-img{
	animation-name: scale-in;
	animation-duration: 0.9s,0.4s;
	animation-iteration-count: 1,1;
	animation-fill-mode: forwards,both;
	animation-play-state: running,running;
	animation-timing-function: cubic-bezier(0.25 ,0.46 , 0.45, 0.94);
}

@keyframes scale-in{
	0%{
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
	100%{
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
		opacity: 0.9;
	}
}

.column-img .theme-img{
	animation-name: scale-out;
	animation-duration: 0.7s,0.3s;
	animation-iteration-count: 1,1;
	animation-fill-mode: both,both;
	animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes scale-out{
	0%{
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
		opacity: 1;
	}
	100%{
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}



/* Latest-Hindi */


 
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
  text-align: left;
  margin-top:0px;
  padding-top:0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}



/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
    margin: 10px 1%;
	width: 180px;
	height: 180px;
	background: #3085a3;
	text-align: left;
	cursor: pointer;

}

.grid figure img {
  height: 180px;
	width: 180px;
  opacity: 0.8;
}

.grid figure figcaption {
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
    backface-visibility: hidden;
    position: absolute;
	top: 25px;
	left: -25px;
	width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.grid figure i{
	color: white;
float:right;
margin-top: 110px;
font-size: 25px !important;
padding-left: 30px;
margin-right: -10px;

}
.grid figure p {
  margin: 0;
  letter-spacing: 1px;
}



figure.latest-img {
  background: rgb(143, 8, 8);

}

figure.latest-img img {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.latest-img img {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.latest-img p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px;
}

figure.latest-img p {
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,60px,0);
	transform: translate3d(0,60px,0);
}

figure.latest-img i{
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,60px,0);
	transform: translate3d(0,60px,0);
}

figure.latest-img:hover img {
  transform: translate3d(0,-45px,0);
  opacity:1;
}


figure.latest-img:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.latest-img:hover i{
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Latest-English */

#latest-english{
  padding-bottom: 80px;
}


/* aside-section */

aside {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: auto;
  position: sticky;
  top: 15%;
}
.queue{
	border-bottom:  0.1px solid #2f2f2f;
}


/* my-playlist queue */
.queue-list{
  display: flex;
  flex-wrap: nowrap;
  margin-left:5%; 
  justify-content: space-between;
  width:95%;
  flex-direction:column;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin-right: 4%;
}
.queue-list{
    overflow: scroll;
    overflow-x: hidden;
    height: 75vh;
}
.queue-list::-webkit-scrollbar{
	display: none;
}

.queue-header h2{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 23px;
  margin-left: 2%;
}

.small-header p{
  color:rgb(196, 14, 14);
  font-family: sans-serif;
  margin-left: 77%;
  margin-top: -40px;
  font-weight: 560;
}

.list-common{
  margin-left: 25px;
  margin-top: -50px;
}
.list-common img{
  width:50px;
  height:50px;
  border-radius: 10%;
  
}

.list-common img:hover{
  box-shadow: 0px 0px 6px 4px rgba(252, 253, 255, 0.938);
}

.list-common .list-music{
  font-weight: 550;
  font-family: sans-serif;
  color:white;
  font-size: 15px;
  margin-left: 60px;
  margin-top: -50px;
}

.list-common .list-artist{
  font-weight: 500;
  font-family: sans-serif;
  color:white;
  font-size: 13px;
  margin-left: 60px;
  margin-top: -10px;
}

 .list-no{
  font-size: 1rem;
  font-weight: 400;
  font-family: cursive;
  color:rgb(252, 249, 249);
  margin-top: 30px;
}
.list-common i{
	position: relative;
	margin-left: 80%;
	top: -40px;
	transition: all 0.5s ease-in-out;
}


.list-common i:hover{
  color:rgb(250, 31, 31);
  transform: scale(1.5);  
} 

/* queue-list */

.small-header-list{
  list-style: none;
      margin:10px;
    
}

.small-header-list li{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 550;
  font-size: 15px;
      color:white;
      margin-left: -40px;
}

.small-header-list li a{
  text-decoration: none;
  color:rgb(204, 196, 196);
}

.small-header-list li a:hover{
  color:  red;
 
}

.two-items{
  position: absolute;
  display: none;
  z-index:10;
  background-color:  rgb(68, 67, 67);
  margin-left: 215px;
  width: 160px;
  height: 70px;
  margin-top: -12px;
}

.small-header:hover .two-items{
 display: block;
 position: absolute;
}




/* =======Footer Section CSS Starts===== */

#music-cnt:target {
  visibility: visible;
  height: 85px;
  opacity: 1;
   transition: all 0.4s ease-in-out; 
}

#music-cnt {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background: #0a0a0a;
  z-index: 99999999;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
}

.cross {
  position: absolute;
  left: 97.5%;
  top: -3px;
  display: block;
}

.cross a {
  text-decoration: none;
  font-size: 10px;
  color: grey;
}

/*=====Muisc Control Bar CSS Starts======  */

.music-player-bar {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

/* ====Left Section CSS====  */

.left-sec {
  width: 292px;
  display: inline-block;
  position: relative;
}

.left-sec ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.left-sec>ul>li>button {
  position: relative;
  bottom: 9px;
  left: 2px;
}

.list-cnt {
  margin: 0;
  padding: 0;
  height: 100%;
}

.list-cnt>li>button {
  background-color: transparent;
  border-radius: 50%;
}

.list-cnt li {
  display: inline-block;
  position: relative;
}

.thumb {
  max-width: 45px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  line-height: 0px;
  right: 5px;
}

.thumb img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.song-nm {
  padding-left: 2px;
  width: 35%;
  overflow: hidden;
  bottom: 7px;
}

.song-nm a {
  text-decoration: none;
  color: rgb(165, 161, 161);
  line-height: 0px;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
}

.song-nm p {
  font-size: 13px;
  padding: 0px 0px;
  line-height: 0px;
  color: rgb(158, 151, 151);
  margin-bottom: 8px;
  margin-top: 8px;
  white-space: nowrap;
}

/* ======Middle Section CSS===== */

.middle-sec {
  width: 550px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 50%;
}

.middle-sec>ul {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 15px;
  height: 50%;
  margin-top: 3px;
}

.middle-sec>ul>li {
  padding-right: 5px;
  margin-left: 20px;
  margin-top: 15px;
  border-radius: 50%;
}

.play-pause img {
  border-radius: 50%;
}

.play-pause>.material-icons-round {
  color: rgb(224, 219, 219);
  font-size: 50px;
}

.seeker-cnt {
  display: flex;
  position: absolute;
  width: 80%;
  bottom: 14px;
  margin-left: 2.1%;
  margin-right: 2.1%;
  align-items: center;
  justify-content: center;
}

.seeker-out {
  height: 1px;
  width: 90%;
  background-color: #404040;
  border-radius: 8px;
  z-index: -1;
  padding: 1px;
  margin: 0;
}

.seeker-in {
  position: absolute;
  width: 35%;
  background-color: #35e688;
  height: 4px;
  z-index: 1;
  border-radius: 20px;
  left: 0.5px;
  bottom: 1px;
  right: 0;
  top: 0;
}

.seeker-knob-cnt {
  position: absolute;
}

.seeker-knob {
  position: absolute;
  padding: 8px;
  top: -6.5px;
  left: 34.5%;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 5;
}

.time-left {
  position: absolute;
  font-size: 10px;
  left: -8%;
}

.time-right {
  position: absolute;
  font-size: 10px;
  right: -3%;
}

.seeker-cnt-br {
  display: none;
  position: absolute;
  width: 80%;
  bottom: 15px;
  margin-left: 50px;
  align-items: center;
  justify-content: center;
}

.time-left-br {
  position: absolute;
  font-size: 10px;
  left: -8%;
}

.time-right-br {
  position: absolute;
  font-size: 10px;
  right: -3%;
}

/* ======Right Section CSS===== */

.right-sec {
  width: 292px;
  display: inline-block;
  position: relative;
  height: 100%;
  top: 24px;
}

.right-sec>ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.right-sec>ul>li {
  margin: 3px;
}

.volm-cnt {
  display: block;
  position: relative;
  bottom: 3.5px;
  right: 6px;
  align-items: center;
  justify-content: center;
}

.volm-out {
  height: 3px;
  width: 100px;
  background-color: #404040;
  border-radius: 8px;
  z-index: -1;
  margin: 0;
}

.volm-in {
  position: relative;
  width: 40%;
  background-color: #35e688;
  height: 4px;
  z-index: 1;
  border-radius: 8px;
  left: 0;
  right: 0;
  top: 0;
}

.volm-knob-cnt {
  position: absolute;
}

.volm-knob {
  position: absolute;
  padding: 8px;
  top: -6.5px;
  left: 35.5%;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 5;
}

.expand-btn i {
  right: 20px !important;
  bottom: 1px;
  left:-50px;
font-size: 20px;
  overflow: hidden;
  color: white;
}



/* ======Right Section Breakpoint CSS=======*/

.left-arrow {
  display: none;
}

.left-arrow>.material-icons {
  color: #a5a5a5;
}

.list-cnt-br {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  position: absolute;
  height: 40px;
  right: 50px;
  top: -10px;
  width: 250px;
  background: #282828;
  align-items: center;
  vertical-align: middle;
  z-index: 5;
  border-radius: 3px;
}

.list-cnt-br>li>button {
  background-color: transparent;
  border-radius: 50%;
}

.list-cnt-br li {
  display: inline-block;
  position: relative;
}

.right-sec-br {
  margin-left: 12px;
}

.right-sec-br:hover .list-cnt-br {
  display: block;
}

/* ====Small Buttons CSS==== */

.ico-btn {
  border: none;
  background: transparent;
  transition: 0.2s;
  padding: 4px;
}

.ico-btn i {
  cursor: pointer;
}

.ico-btn {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ico-btn:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, rgb(138, 132, 132) 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

.ico-btn:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}


/* completed */





/*material-icons-css*/
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/*media-queries*/

/*header-media-query*/

@media screen and (max-width: 360px){
  .notification i{
    margin-left: 10px;
  }
  .login-button{
    margin-left: 20px !important;
  }
  .side-bars i{
    padding-left: 10px;
  }
}

@media screen and (max-width:1118px){
	       main{
	       	width: 95% !important;
	       	margin-top: 3%;
	       	margin-left: 5% !important;
	       }
           #queue{
            display:none;
          }
          .search-bar{
           display:none;
          }
          .fav{
          	display: none;
          }
          .side-bars i{
            display: inline-block;
            z-index: 99999;
          }
          #slide-menu:target{
	        background:  #0a0a0a;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 300px;  
            height: 100%;
            z-index: 9999;
            position: fixed;
            bottom: 0; 
            vertical-align: middle;
}

    .search-bar-queue{
	padding-left: 30px;
	margin-top: 35px;
	margin-left: 20px;
}

.queue-search-bar-form input[type=text] {
  padding: 10px;
  font-size: 12px;
  color: white;
  border: 1px solid grey;
  border-right: none;
 
  background: transparent;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  display: inline-block;
  
}
.queue-search-bar-form input[type=text]:focus{
	outline: none;
}
/* Style the submit button */
.queue-search-bar-form button {
  padding: 10px;
  background: transparent;
  color: white;
  font-size: 12px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: -10px;
  display: inline-block;
}

.queue-search-bar-form button:hover {
  background: lightgrey;
}
.queue-search-bar-form a i{
	font-size: 1rem;
	color: white;
	position: relative;
	left: -55px;
	top: 2px;

	
}
.queue-search-bar-form a i:hover{
	color: blue;
}

#slide-menu .fa-angle-double-right {
	color: white;
	position: fixed;
	margin-top: -350px;
	font-size: 2rem;

}        
          .slidemenu{
            display: inline-block;
            vertical-align: top;
            width: 85%;
            margin-left: -250px;
            margin-right: 10px;
            position: sticky;
            margin-top: 100px;
            height:100%;                        
          }
       
.queue{
  border-bottom:0.1px solid #2f2f2f;
}
.queue-list{
  display: flex;
  flex-wrap: nowrap;
  margin-left:5%; 
  justify-content: space-between;
  flex-direction:column;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.queue-list{
  overflow: scroll;
  overflow-x:hidden;
  height:75vh;
}
.queue-list::-webkit-scrollbar{
  display: none;
}

.queue-header h2{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 23px;
   margin-left: 2%;
}

.small-header p{
  color:rgb(196, 14, 14);
  font-family: sans-serif;
  margin-left: 77%;
  margin-top: -40px;
  font-weight: 560;
}
.list-common{
  margin-left: 25px;
  margin-top: -50px;
}
.list-common img{
  width:50px;
  height:50px;
  border-radius: 10%;
  
}

.list-common img:hover{
  box-shadow: 0px 0px 6px 4px rgba(252, 253, 255, 0.938);
}

.list-common .list-music{
  font-weight: 550;
  font-family: sans-serif;
  color:white;
  font-size: 15px;
  margin-left: 60px;
  margin-top: -50px;
}

.list-common .list-artist{
  font-weight: 500;
  font-family: sans-serif;
  color:white;
  font-size: 13px;
  margin-left: 60px;
  margin-top: -10px;
}

 .list-no{
  font-weight: 400;
  font-family: cursive;
  color:rgb(252, 249, 249);
  margin-top: 30px;
}

.list-common i{
  position: relative;
  margin-left: 88%;
  top:-35px;
  transition: all 0.5s ease-in-out;
}

.list-common i:hover{
  color:rgb(250, 31, 31);
  transform: scale(1.5); 
} 

/* queue-list */

.small-header-list{
  list-style: none;
      margin:10px;
    
}

.small-header-list li{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 550;
  font-size: 15px;
      color:white;
      margin-left: -40px;
}

.small-header-list li a{
  text-decoration: none;
  color:rgb(204, 196, 196);
}

.small-header-list li a:hover{
  color:  red;
 
}

.two-items{
  position: absolute;
  display: none;
  z-index:10;
  background-color:  rgb(68, 67, 67);
  margin-left: 150px;
  width: 160px;
  height: 70px;
  margin-top: -12px;
}

.small-header:hover .two-items{
 display: block;
 position: absolute;
}
}

/*template-media-query*/
@media screen and (max-width: 770px){
	.mp-template h1{
		font-size: 3.5rem;
	}
	.gradient-text{
		font-size: 7.5rem;
	}
	.mp-template{
		margin-top: 7.5%;
	}
	#carsl{
		margin-top: 15px !important;
	}
}
@media screen and (max-width: 550px){
	.mp-template h1{
		font-size: 2.5rem;
	}
	.gradient-text{
		font-size: 5rem;
	}
	.mp-template{
		margin-top: 15%;
	}
	
}
@media screen and (max-width: 390px){
	.mp-template h1{
		font-size: 1.5rem;
	}
	.gradient-text{
		font-size: 3.5rem;
	}
	.mp-template{
		margin-top: 25%;
	}
	
}

/*latest-release-media-query*/

 @media screen and (max-width: 1470px){
    .latest-icon{
		width: 150px;
		height: 150px;
	}
	.latest-icon img{
		width: 150px;
		height: 150px;
	}
	.latest-info-one{
		margin-left: 150px;
	}
	.ellipsis i{
		margin-left: 220px;
	}
	.latest_two{
		margin-left: 140px;
	}
	.latest-icon i{
		margin-left: -80px;
		margin-top: 60px;
	}
}
@media screen and (max-width: 1315px){
    .latest-icon{
    	width: 120px !important;
    	height: 120px !important;
    }
    .latest-icon img{
		width: 120px !important;
		height: 120px !important;
	}
	.latest-info-one{
		margin-left: 120px;
	}
	.ellipsis i{
		margin-left: 190px;
	}
	.latest_two{
		margin-left: 80px;
	}
	.latest-icon i{
		margin-left: -70px;
		margin-top: 50px;
	}

 }
 @media screen and (max-width: 1200px){
    .latest-icon{
    	width: 90px !important;
    	height: 90px !important;
    }
    .latest-icon img{
		width: 90px !important;
		height: 90px !important;
	}
	.latest-info-one{
		margin-left: 90px;
	}
	.ellipsis i{
		margin-left: 160px;
	}
	.latest_two{
		margin-left: 30px;
	}
	.latest-icon i{
		margin-left: -55px;
		margin-top: 30px;
		
	}

 }
@media screen and (max-width: 1118px){
	.latest-icon{
		width: 200px !important;
		height: 200px !important;
	}
	.latest-icon img{
		width: 200px !important;
		height: 200px !important;
	}
	.latest-info-one{
		margin-left: 200px;
	}
	.ellipsis i{
		margin-left: 220px;
	}
	.latest_two{
		margin-left: 190px;
	}
	.latest-icon i{
		margin-left: -110px;
		margin-top: 80px;
		
	}
}
 @media screen and (max-width: 1045px){
    .latest-icon{
		width: 150px !important;
		height: 150px !important;
	}
	.latest-icon img{
		width: 150px !important;
		height: 150px !important;
	}
	.latest-info-one{
		margin-left: 150px;
	}
	.ellipsis i{
		margin-left: 220px;
	}
	.latest_two{
		margin-left: 140px;
	}
	.latest-icon i{
		margin-left: -80px;
		margin-top: 60px;
		
	}
}
@media screen and (max-width: 970px){
    .latest-icon{
    	width: 120px !important;
    	height: 120px !important;
    }
    .latest-icon img{
		width: 120px !important;
		height: 120px !important;
	}
	.latest-info-one{
		margin-left: 120px;
	}
	.ellipsis i{
		margin-left: 190px;
	}
	.latest_two{
		margin-left: 80px;
	}
	.latest-icon i{
		margin-left: -70px;
		margin-top: 50px;
		
	}

 }
 @media screen and (max-width: 890px){
    .latest-icon{
    	width: 90px !important;
    	height: 90px !important;
    }
    .latest-icon img{
		width: 90px !important;
		height: 90px !important;
	}
	.latest-info-one{
		margin-left: 90px;
	}
	.ellipsis i{
		margin-left: 160px;
	}
	.latest_two{
		margin-left: 30px;
	}
	.latest-songs{
		width: 85%;
	}
	.latest-icon i{
		margin-left: -55px;
		margin-top: 30px;
		
	}

 }
@media screen and (max-width: 725px){
	.latest-icon{
        width: 200px !important;
        height: 200px !important;
	}
	.latest-icon img{
		width: 200px !important;
        height: 200px !important;
	}
	.latest-info-one{
		margin-left: 200px;
	}
	.ellipsis i{
		margin-left: 250px;
		
	}
	
	.latest_two{
		margin-left: 0px;
	}
	.latest-songs{
		width: 75%;
	}
	.latest-icon i{
		margin-left: -110px;
		margin-top: 80px;
		
	}
} 
@media screen and (max-width: 560px){
	.ellipsis i{
        margin-left: 180px;
	}
}
@media screen and (max-width: 470px){
     .latest-icon{
		width: 150px !important;
		height: 150px !important;
	}
	.latest-icon img{
		width: 150px !important;
		height: 150px !important;
	}
	.latest-info-one{
		margin-left: 150px;
	}
	.ellipsis i{
		margin-left: 20px;
		margin-top: 110px;
	}
	.latest-time{
		margin-top: 125px;
	}
	.latest_two{
		margin-left: 0px;
	}
	.latest-icon i{
		margin-left: -80px;
		margin-top: 60px;
		
	}
}
@media screen and (max-width: 1450px){
    .latest-icon{
		width: 150px;
		height: 150px;
	}
	.latest-icon img{
		width: 150px;
		height: 150px;
	}
}
@media screen and (max-width: 1065px){
	.latest-icon{
		width: 100px;
		height: 100px;
	}
	.latest-icon img{
		width: 100px;
		height: 100px;
	}
}


/*play-station-media-query*/

@media screen and (max-width: 500px){
	#gallery img{
		width: 160px;
	}
}
@media screen and (max-width: 450px){
	#gallery img{
		width: 140px;
		
	}
}	
@media screen and (max-width: 380px){
	#gallery img{
		width: 130px;
		
	}
}
@media screen and (max-width: 359px){
	#gallery img{
		width: 125px;
		
	}
}

/*music-theme-media-query*/


@media screen and (max-width: 780px){
    .row{
    	
    	-ms-flex-wrap: wrap !important; 
         flex-wrap: wrap !important;
       
    }
}

/*latest-hindi-eng-media-query*/

@media screen and (max-width: 450px){
	.grid figure  {
    height: 160px !important;
	width: 160px !important;   
  }
  .grid figure img {
  height: 160px !important;
	width: 160px !important;
  opacity: 0.8;
}
   .grid figure i{
   	margin-top: 90px !important;
   }

}

/* footer-responsiveness */


@media only screen and (max-width: 1025px) {
  .middle-sec>ul>li {
      margin-left: 0px !important;
  }
}

@media only screen and (max-width: 800px) {
  .seeker-cnt {
      width: 80% !important;
  }
  .time-left {
      margin-left: -5px !important;
  }
  .time-right {
      margin-right: -6px !important;
  }
  .left-sec {
      width: 25% !important;
      padding-left: 5px !important;
  }
  .song-nm {
      width: 50% !important;
  }
  .middle-sec {
      width: 40% !important;
  }
  .cross {
      left: 95% !important;
  }
  .right-sec {
      width: 25% !important;
      margin-right: 15px;
      padding-left: 0px;
      right: 5px;
  }
  .volm-cnt {
      margin-left: 5px !important;
  }
  .left-sec>.list-cnt>li>button {
      display: none !important;
  }
  .volm-ico {
      display: block !important;
  }
}

@media only screen and (max-width: 650px) {
  .song-nm {
      display: block !important;
  }
  .right-sec>.list-cnt {
      display: none !important;
  }
  .no-display-br {
      display: none !important;
  }
  .left-sec {
      width: 40% !important;
      height: 65px;
      margin-left: 10px;
      padding-left: 5px !important;
  }
  .song-nm {
      padding-left: 2px;
      width: auto;
      overflow: hidden;
      bottom: 7px;
  }
  .song-nm a {
      font-size: 12px !important;
      color: rgb(212, 205, 205);
  }
  .song-nm p {
      font-size: 10px !important;
  }
  .seeker-cnt {
      display: none !important;
  }
  .seeker-cnt-br {
      display: flex !important;
  }
  .seeker-cnt-br>.seeker-out {
      height: 1.5px;
  }
  .right-sec {
      top: 18px !important;
  }
  .left-arrow {
      display: block !important;
  }
  .left-arrow:hover .right-sec-br {
      display: block !important;
  }
  .cross {
      left: 92% !important;
  }
}


@media only screen and (max-width: 500px) {
  .right-sec {
      width: 115px !important;
      top: 10px;
      right: 0px !important;
  }
}

@media only screen and (max-width: 400px) {
  .seeker-cnt-br {
      margin-left: 45px !important;
  }
}

              /*completed*/

















